/*
================================
	Urban - One Page App Landing
================================

	Table of Contents
	-----------------

	DEFAULTS
	LIBRARIES CSS
	PRE LOADER
	NAVIGATION
	LANDING PAGE
		Landing Page Defaults
		Intro
		Features Blocks
		Companies
		Features Media
		Testimonials
		Features Overview
		Authors
		Screens Gallery
		Download Product
	FOOTER
		Contact Form
		Address
	
===============================
*/
/* ====================================================
	DEFAULTS
==================================================== */
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: .75px;
  color: #999999;
  overflow-y: hidden;
  /* removed with JS on load */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: #367ec1;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
  color: #113870;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
a {
  color: #367ec1;
}
a:hover,
a:active,
a:focus {
  color: #000;
  text-decoration: none;
}
.form-control {
  margin-bottom: 15px !important;
  color: #999999;
}
.form-control:focus {
  color: #000000;
}
button,
a.btn,
.btn {
  padding: 10px 20px;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
button:hover,
a.btn:hover,
.btn:hover {
  background: #000;
  -webkit-box-shadow: 0 0 2px #ffffff;
  box-shadow: 0 0 2px #ffffff;
}
.btn-default {
  background: transparent;
  border: 1px solid #000;
}
.btn-default:hover,
.btn-default:active {
  background: #000;
}
.btn-primary {
  color: #fff;
  background: #367ec1;
  border-color: #367ec1;
}
.btn-primary:hover {
  background: #000;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 2px #fff;
  box-shadow: 0 0 2px #fff;
}
img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
/* ====================================================
	 LIBRARIES CSS
==================================================== */
/* ----------------------------------------
	 Owl Carousel
---------------------------------------- */
/* Custom dots nav */
.owl-controls .owl-dots span {
  position: relative;
  background: transparent !important;
}
.owl-controls .owl-dots span:before {
  content: '[';
  font-family: 'ElegantIcons';
  font-size: 16px;
  color: #000;
  opacity: .5;
  position: absolute;
  top: -5px;
  left: -3px;
}
.owl-controls .owl-dots .owl-dot.active span:before {
  content: "\\";
}
/* ----------------------------------------
	 Magnific Popup
---------------------------------------- */
.mfp-figure button,
.mfp-iframe-scaler button {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}


#map, #petition, #contact {
	background: #e5e5e5 !important;
}


#whatis{
	font-size: 18px !important;
}

.asterisk{
font-size:12px !important;
}

#map h2{
color:#113870 !important;
}

/* ====================================================
	 PRE LOADER
==================================================== */
.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  overflow: hidden;
  z-index: 99999;
}
.preloader .status {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -48px 0 0 -48px;
  color: #113870;
}
.preloader .status i {
  font-size: 48px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.preloader .status p {
  margin-top: 20px;
  font-weight: bold;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
/* ====================================================
	 NAVIGATION
==================================================== */
.main-nav {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  border: 0;
  background: #fff;
  -webkit-transition: top .5s;
  transition: top .5s;
}
.main-nav .navbar-toggle {
  background: transparent;
  padding: 7px 7px 3px;
  /* when menu is closed */
}
.main-nav .navbar-toggle i {
  font-size: 24px;
  color: #367ec1;
}
.main-nav .navbar-toggle.collapsed i {
  color: #000;
}
.main-nav .navbar-nav > li.current a {
  color: #367ec1;
}
.main-nav .navbar-brand {
  height: auto;
  padding: 10px;
}
.main-nav .navbar-brand img {
  max-height: 40px;
}
.main-nav .navbar-nav > li > a {
  line-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #999999;
  position: relative;
}
.main-nav .navbar-nav > li.active > a,
.main-nav .navbar-nav > li > a:hover {
  background: transparent;
  color: #000000;
}
/* ====================================================
	 LANDING PAGE
==================================================== */
header,
section,
footer {

}
/* ----------------------------------------
	 Landing Page Defaults
---------------------------------------- */
.section-header {
  text-align: center;
  margin: 0 auto 80px;
}
.title {
  font-size: 28px;
}
.subtitle {
  font-size: 18px;
}
.color-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.dark-bg .title {
  color: #ffffff;
}
.dark-bg .subtitle {
  color: #dddddd;
}
.dark-bg .btn-default {
  border-color: #fff;
  color: #fff;
}
.dark-bg .btn-default:hover,
.dark-bg .btn-default:active {
  border-color: #000;
}
.has-bg-image {
  position: relative;
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.section-padding {
  padding: 80px 0;
}
.has-bg-video {
  background: transparent;
}
.has-bg-video .video {
  position: fixed;
  z-index: -99;
  width: 100%;
  height: 100%;
}
/* ----------------------------------------
	 Intro
---------------------------------------- */
.intro {
  text-align: center;
}
.intro.has-bg-image {
  background-image: url(../images/5873374114_b50078af6f_o.jpg);
}
.intro .intro-logo {
  padding-top: 100px;
  display: inline-block;
}
.intro .title {
  margin-top: 20px;
  margin-bottom: 10px;
}
.intro .subtitle {
  margin-bottom: 100px;
}
.intro .btn-default {
  margin: 0 10px;
}
.intro .intro-product-media {
  margin-top: 50px;
  margin-right: -20px;
}
.intro .intro-product-media img {
  margin: 0 auto;
}
/* ----------------------------------------
	 Features Blocks
---------------------------------------- */
.features-blocks {
  position: relative;
  z-index: 1;
}
.features-blocks .feature-block {
  text-align: center;
}
.features-blocks .feature-block .feature-block-media {
  margin: 0 auto 40px;
}
.features-blocks .feature-block .feature-block-media i {
  font-size: 120px;
  color: #367ec1;
}
.features-blocks h3 {
  margin-bottom: 30px;
}
/* ----------------------------------------
	 Companies
---------------------------------------- */
.companies.has-bg-image {
  background-image: url(../images/i3OA2PJ.jpg);
}
.companies .color-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.companies .section-padding {
  padding: 40px 0 20px;
}
.companies .companies-logo-slider .item {
  padding: 0 25px;
}
/* ----------------------------------------
	 Features Media
---------------------------------------- */
.features-media.section-padding {
  padding: 40px 0;
}
.features-media .feature-media-text {
  padding: 40px 0;
}
.features-media .feature-media-text .btn {
  margin-top: 40px;
}
.features-media .feature-media-text .btn.watch-video {
  border: 0;
  margin-left: 10px;
  position: relative;
}
.features-media .feature-media-text .btn.watch-video i {
  font-size: 16px;
  position: absolute;
  top: 7px;
  right: -5px;
}
.features-media .feature-media-text .btn.watch-video:hover {
  color: #367ec1;
  background: transparent;
}
.features-media i {
  font-size: 32px;
}
.features-media .title {
  font-size: 18px;
}
/* ----------------------------------------
	 Testimonials
---------------------------------------- */
.testimonials.has-bg-image {
  background-image: url(../images/i3OA2PJ.jpg);
}
.testimonials .color-overlay {
  background: rgba(0, 0, 0, 0);
}
.testimonials .section-padding {
  padding: 60px 0 40px;
}
.testimonials .testimonials-slider .item {
  text-align: center;
}
.testimonials .testimonial-wrapper {
  position: relative;
  display: inline-block;
}
.testimonials .profile .name,
.testimonials .rating,
.testimonials .text {
  color: #000;
}
.testimonials .avatar {
  margin-bottom: 10px;
  max-width: 100px;
}
.testimonials .avatar img {
  border-radius: 100%;
border: medium none rgba(0, 0, 0, 0.01);
}
.testimonials .profile .name {
  font-size: 12px;
  font-style: italic;
  display: inline-block;
}
.testimonials .profile .name:hover {
  text-decoration: underline;
}
.testimonials .rating {
  font-size: 16px;
  margin-bottom: 10px;
}
.testimonials .text {
  font-size: 18px;
  font-style: italic;
}
.testimonials .profile {
  position: absolute;
  top: 0px;
  left: 0;
}
.testimonials .testimonial {
  padding: 20px 0 50px 130px;
  text-align: left;
}
/* ----------------------------------------
	 Features Overview
---------------------------------------- */
.features-overview .feature {
  position: relative;
  margin-bottom: 70px;
}
.features-overview .feature i {
  font-size: 32px;
  color: #367ec1;
  position: absolute;
  top: 0;
  left: 0;
}
.features-overview .feature .text {
  padding-left: 60px;
}
/* ----------------------------------------
	 Authors
---------------------------------------- */
.the-authors.has-bg-image {
  background-image: url(../images/i3OA2PJ.jpg);
}
.the-authors .color-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.the-authors .section-padding {
  padding: 80px 0 40px;
  position: relative;
}
.the-authors .section-padding:after {
  content: '';
  width: 100%;
  height: 25%;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.the-authors .author {
  text-align: center;
  position: relative;
  z-index: 1;
  min-height: 400px;
}
.the-authors .author .avatar {
  display: inline-block;
  margin-bottom: 20px;
}
.the-authors .author .avatar img {
  border-radius: 100%;
}
.the-authors .author .profile {
  padding: 20px 40px;
  background: #fff;
}
.the-authors .author .social {
  padding: 20px 0 30px;
}
.the-authors .author .social a {
  margin-right: 5px;
  color: #000;
}
.the-authors .author .social a:hover {
  color: #367ec1;
}
.the-authors .author .social i {
  font-size: 32px;
}
.the-authors .author .name a {
  color: #000000;
}
.the-authors .author .name a:hover,
.the-authors .author .job {
  color: #367ec1;
}
/* ----------------------------------------
	 Screens Gallery
---------------------------------------- */
.screens-gallery .screens-gallery-slider .owl-controls .owl-dots span:before {
  color: #000;
}
/* ----------------------------------------
	 Download Product
---------------------------------------- */
.download-product.has-bg-image {
  background-image: url(../images/bg-01.jpg);
}
.download-product .download-content {
  text-align: center;
}
.download-product .content-wrapper {
  display: inline-block;
  padding: 50px 0 100px;
}
.download-product .logo {
  float: left;
}
.download-product .stores {
  float: left;
  margin-left: 40px;
}
.download-product .btn {
  margin: 12px 0;
}
/* ====================================================
	 FOOTER
==================================================== */
footer {
  position: relative;
  /* ----------------------------------------
		 Contact Form
	---------------------------------------- */
  /* ----------------------------------------
		 Address
	---------------------------------------- */
}
footer .contact-form {
  float: right;
  width: 300px;
}
footer .address {
  width: 300px;
  padding: 20px;
}
footer .address .details {
  margin-bottom: 10px;
  position: relative;
}
footer .address .details i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24px;
  color: #000;
}
footer .address p {
  display: inline-block;
  padding-left: 35px;
  font-size: 14px;
}
footer .address .social {
  padding: 20px 0 30px;
}
footer .address .social a {
  margin-right: 5px;
  color: #000;
}
footer .address .social a:hover {
  color: #367ec1;
}
footer .address .social i {
  font-size: 32px;
}
footer .copyright {
  max-width: 300px;
  margin: 80px auto;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}
.back-to-top {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: auto;
  width: 32px;
  height: 32px;
  background: #fff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 10px solid #fff;
  border-radius: 100%;
}
.back-to-top i {
  font-size: 32px;
  margin-left: -1px;
}
@media (max-width: 992px) {
  /* ====================================================
	 NAVIGATION
==================================================== */
  .main-nav .navbar-header {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
  }
  .main-nav .navbar-nav {
    text-align: center;
  }
  .main-nav .navbar-brand {
    display: inline-block;
    float: none;
  }
  /* ====================================================
	 LANDING PAGE
==================================================== */
  /* ----------------------------------------
	 Features Blocks
---------------------------------------- */
  .features-blocks .feature-block {
    margin-bottom: 100px;
  }
  .features-blocks .feature-block .feature-block-media {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-bottom: 0 !important;
  }
  .features-blocks .feature-block .text {
    text-align: left;
    padding-top: 5px;
    padding-left: 170px;
  }
  .features-blocks .feature-block .text h3 {
    margin-bottom: 20px;
  }
  /* ----------------------------------------
	 Features Media
---------------------------------------- */
  .features-media .feature-media-text {
    text-align: center;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  /* ====================================================
	 NAVIGATION
==================================================== */
  .main-nav .navbar-nav {
    width: 100%;
    padding-left: 25px;
    margin-right: 0 !important;
    text-align: center;
    margin-bottom: 10px;
  }
  .main-nav .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .main-nav .navbar-nav > li > a {
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  /* ====================================================
	 NAVIGATION
==================================================== */
  .main-nav .navbar-nav li:nth-child(2n-1) {
    background: #fcfcfc;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
  }
  /* ====================================================
	 LANDING PAGE
==================================================== */
  /* ----------------------------------------
	 Testimonials
---------------------------------------- */
  .testimonials .testimonial-wrapper {
    text-align: center;
  }
  .testimonials .profile {
    position: relative;
  }
  .testimonials .profile .avatar {
    margin: 0 auto 10px;
  }
  .testimonials .testimonial {
    padding: 30px 0 10px;
    text-align: center;
  }
  /* ----------------------------------------
	 Authors
---------------------------------------- */
  .the-authors .section-padding:after {
    height: 0% !important;
  }
  .the-authors .author .profile {
    width: 80%;
    max-width: 400px;
    margin: 0 auto 50px;
  }
  /* ----------------------------------------
	 Download Product
---------------------------------------- */
  .download-product {
    text-align: center;
  }
  .download-product .logo,
  .download-product .stores {
    float: none;
  }
  .download-product .logo img {
    display: inline-block;
  }
  .download-product .stores {
    margin-left: 0;
    margin-top: 100px;
  }
  /* ====================================================
	 FOOTER
==================================================== */
  footer {
    /* ----------------------------------------
		 Contact Form
	---------------------------------------- */
  }
  footer .contact-form {
    float: none;
    margin: 0 auto;
  }
  footer .contact-form input[type="submit"] {
    width: 100%;
  }
  footer .address {
    border-top: 1px solid #ccc;
    margin: 50px auto;
    padding: 50px 50px 0;
  }
  footer .copyright {
    margin: 10px auto;
  }
}

.usa-state-map {
    position: relative; width: 100%;
    height: 45em;
}


/* LAPDOG customizations */
.lapdog_master_content_layout {
    overflow-x: hidden;
}

path:hover {
    cursor: pointer;
}

/* LAPDOG ScoreCard */

.senator-score-card .senator-info {
    width: 300px;
    height: 196px;
}

.senator-score-card .senator-position {
    text-align: center;
    font-family: helvetica neue;
    font-size: 1.35em;
    color: #696969;
}

.senator-score-card .senator-state {
    font-weight: 400;
    color: #383636;
}

.senator-score-card .senator-name {
    font-family: 'Oswald', sans-serif;
    margin-top: 11px;
    font-style: italic;
    color: #367EC1;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    line-height: 23px;
}

.senator-score-card {
    width: 300px;
    height: 280px;
    background-color: #F6F6F6;
}

.senator-score-card .senator-image {
    height: 130px;
    width: auto;
    margin: 12px auto 16px;
    -ms-transform: rotate(7deg); /* IE  */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.senator-score-card .rating-values .thumbs-container,
.senator-score-card .rating-values .dollar-container {
    display: inline-block ;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
    width: 150px;
    height: 48px;
    float: left;
}

.senator-score-card .rating-labels .brady-rating,
.senator-score-card .rating-labels .gun-lobby {
    float: left;
    width: 50%;
    font-family: sans-serif;
    color: #696969;
    font-size: 1.05em;
    margin-top: 12px;
}

.senator-score-card .rating-values {
    background-color: #F3F3F5;
    width: 300px;
    height: 48px;
}

.senator-score-card .rating-labels {
    background-color: #F6F6F6;
    width: 300px;
    height: 42px;
    text-align: center;
}

.senator-score-card .thumbs-image {
    margin: 12px auto 0;
}

.senator-score-card .dollar-amount {
    padding: 5px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    font-style: italic;
}

.senator-score-card .dollar-amount .fill {
    color: #367EC1;
}

.senator-score-card .dollar-amount .empty {
    color: #C0C0C2;
}

.senator-portrait {
    height: 133px;
}

.senator-image-container {
    position: relative;
    top: -68px;
}

.paperclip-container {
    position: relative;
    left: 169px;
    z-index: 1;
    top: -4px;
}

#house_container_layout {
    clear: both;
    padding: 55px;
}


.senator-column {
    margin: 0 auto;
    margin-top: 35px;
}

.lapdog-large-image-container {
    position: relative;
    top: -195px;
}


/* =========== House of Rep ================*/
.rep-score-card {
    width: 226px;
    height: 185px;
    background-color: #F6F6F6;
}

.rep-score-card .rep-info {
    width: 226px;
    height: 115px;
}

.rep-score-card .rep-state {
    font-weight: 400;
    color: #383636;
}


.rep-score-card .rating-values .thumbs-container,
.rep-score-card .rating-values .dollar-container {
    display: inline-block ;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
    width: 113px;
    height: 63px;
    float: left;
    margin-bottom: -3px;
}

.rep-score-card .rating-labels .brady-rating,
.rep-score-card .rating-labels .gun-lobby {
    float: left;
    width: 50%;
    font-family: sans-serif;
    color: #696969;
    font-size: 1.05em;
    margin-top: -17px;
}

.rep-score-card .rating-values {
    background-color: #F3F3F5;
    width: 226px;
    height: auto;
}

.rep-score-card .rating-labels {
    background-color: #F6F6F6;
    width: 226px;
    height: 42px;
    text-align: center;
}

.rep-score-card .thumbs-image {
    margin: 12px auto 0;
}

.rep-score-card .dollar-amount {
    padding: 8px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    font-style: italic;
}

.rep-score-card .dollar-amount .fill {
    color: #367EC1;
}

.rep-score-card .dollar-amount .empty {
    color: #C0C0C2;
}

.rep-score-card .rep-image {
    height: 58px;
    width: auto;
    margin: 12px auto 16px;
    -ms-transform: rotate(4deg); /* IE  */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
}


.rep-score-card .rep-name {
    font-family: 'Oswald', sans-serif;
    margin-top: -55px;
    margin-left: 13px;
    font-style: italic;
    color: #367EC1;
    font-size: 1.813em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
    line-height: 23px;
}

.rep-score-card .rep-position {
    text-align: left;
    font-family: helvetica neue;
    font-size: 1.35em;
    color: #696969;
    margin-left: 13px;
}


.rep-portrait {
    height: 118px;
}

.rep-image-container {
    position: relative;
    top: -41px;
}

img.house-paperclip-image {
    height: 29px;
}

.house-paperclip-container {
    position: relative;
    left: 124px;
    z-index: 1;
    top: -3px;
}

.lapdog-image-container {
    position: relative;
    top: -118px;
    left: 180px;
}

/* =========== Worst Offenders Section ================*/

.offenders {
    clear: both;
}

.worst {
    height: 82px;
    float: left;
    margin-right: 13px;
}

.worst-block .col-md-3 {
    margin-bottom: 30px;
}

/* Layout Customization */

#house-rep-grid .features-overview .feature {
    margin-bottom: 30px;
}




@media (min-width: 992px) {
    #house_container_layout {
       margin-left: -10%;
    }
}

@media (min-width: 768px) {
    #house_container_layout {
       margin-left: -6%;
    }
}

@media (max-width: 767px) {
    .rep-score-card {
        margin: 0 auto;
    }
}

@media (max-width: 636px) {
    .senator-column {
        float: none !important;
    }

    .senator-score-card {
        margin: 0 auto;
    }
}

/* Vidoe Styles */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.finish-the-job-image {
    margin: 0 auto;
}


/* =============== sign the peition ================= */

.sign-petition-form-group {
    float: left;
}

.sign-petition-submit {
    float: right;
    margin-top: -20px;
}