<div>
House of Rep TEST

7	Alabama	1	Montana
1	Alaska	3	Nebraska
9	Arizona	4	Nevada
4	Arkansas	2	New Hampshire
53	California	12	New Jersey
7	Colorado	3	New Mexico
5	Connecticut	27	New York
1	Delaware	13	North Carolina
27	Florida	1	North Dakota
14	Georgia	16	Ohio
2	Hawaii	5	Oklahoma
2	Idaho	5	Oregon
18	Illinois	18	Pennsylvania
9	Indiana	2	Rhode Island
4	Iowa	7	South Carolina
4	Kansas	1	South Dakota
6	Kentucky	9	Tennessee
6	Louisiana	36	Texas
2	Maine	4	Utah
8	Maryland	1	Vermont
9	Massachusetts	11	Virginia
14	Michigan	10	Washington
8	Minnesota	3	West Virginia
4	Mississippi	8	Wisconsin
8	Missouri	1	Wyoming
</div>