
<div class="social" style="font-size: 5em; text-align: center;">
   <a href="#"><i aria-hidden="true" class="social_facebook_circle"></i></a>
   <a href="#"><i aria-hidden="true" class="social_twitter_circle"></i></a>
 </div>


<div>
  <h1 style="text-align: center;"><%= state %> Senators Scores</h1>
</div>



<div>
  <div>Chuck Schumner</div>
  <div>
    <div>
      ThumbsUP
    </div>
    <div>
      $$$$
    </div>
  </div>
  <div>
    <div>
      Brady Rating %
    </div>
    <div>
      Gun Lobby $
    </div>
  </div>
</div>




<div>
  <% for (var i=0; i<display_senators.length; i++) {%>
    <%= display_senators[i].first %> <br/>

    <div><img height="25px" alt="state" src="http://theunitedstates.io/images/congress/225x275/<%= display_senators[i].bioguide %>.jpg"></div>

    <%}%>
</div>



    <section id="overview" class="features-overview section-padding">
      <div class="container">
        <div class="section-header">
          <h2 class="title">SENATORS</h2>
          <p class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, consequat. Sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>


        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="feature">
              <i aria-hidden="true" class="icon_ribbon_alt"></i>

              <div class="rep-score-card">
                <h4>Elegant Mike</h4>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, consequat. Sunt in culpa qui.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="feature">
              <i aria-hidden="true" class="icon_desktop"></i>

              <div class="text">
                <h4>Responsive</h4>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, consequat. Sunt in culpa qui.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3">
            <div class="feature">
              <i aria-hidden="true" class="icon_pushpin_alt"></i>

              <div class="text">
                <h4>Focused Design</h4>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, consequat. Sunt in culpa qui.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3">
            <div class="feature">
              <i aria-hidden="true" class="icon_compass_alt"></i>

              <div class="text">
                <h4>Easy to Use</h4>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, consequat. Sunt in culpa qui.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="feature">
            <i aria-hidden="true" class="icon_link_alt"></i>

            <div class="text">
              <h4>Support</h4>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, consequat. Sunt in culpa qui.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="feature">
            <i aria-hidden="true" class="icon_heart_alt"></i>

            <div class="text">
              <h4>Love</h4>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, consequat. Sunt in culpa qui.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="feature">
            <i aria-hidden="true" class="icon_lifesaver"></i>

            <div class="text">
              <h4>Life Saver</h4>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, consequat. Sunt in culpa qui.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="feature">
            <i aria-hidden="true" class="icon_piechart"></i>

            <div class="text">
              <h4>Them Pies</h4>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, consequat. Sunt in culpa qui.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
