
<div>=====================  SENATORS  ======================= </div>



<div>
  <% for (var i=0; i<display_senators.length; i++) {%>
    <%= display_senators[i].first %> <br/>

    <div><img height="25px" alt="state" src="http://theunitedstates.io/images/congress/225x275/<%= display_senators[i].bioguide %>.jpg"></div>

    <%}%>
</div>
